@import 'tailwindcss';
@import 'flowbite/src/themes/default';

@source not '../../public';
@source '../../node_modules/flowbite';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
}

.app-env-dev {
  color: #031124;
  background: repeating-linear-gradient(45deg, #718de7, #718de7 10px, #93ace2 10px, #93ace2 20px);
}

.app-env-test {
  color: #082403;
  background: repeating-linear-gradient(45deg, #85e771, #85e771 10px, #ace293 10px, #ace293 20px);
}

.app-env-stag {
  color: #160701;
  background: repeating-linear-gradient(45deg, #e77171, #e77171 10px, #f88282 10px, #f88282 20px);
}
